@CHARSET "ISO-8859-1";
.divtitre
{
	background-color: #2A323F;
	color: white;
	padding: 35px;
	margin:35px;
	font-style: italic;
}
.span2
{
	font-size: x-large;
}
.singleC
{
	float:left;
	background-color: #3e9dae;
	color:black;
	margin:20px;
	padding: 10px; 
}
.Desc
{
	width: 50% ;
}
.Color
{
	color:#bb0000;
}
.karim
{
	width:30%;
	float:right;
	
}