@CHARSET "ISO-8859-1";

.welcomeText {
	float: left;
	width: 60%;
	background-color: rgb(40, 15, 14);
	border-color: gray;
	border-style: solid;
	font-weight: 400;
	color: white;
	font-style: italic;
}

.opText {
	width: 630px;
	background-color: #266082;
	border-color: gray;
	border-style: solid;
	font-weight: 400;
	color: white;
	font-style: italic;
	margin-left: 20px;
	float: left;
}

.opText2 {
	width: 630px;
	background-color: #266082;
	border-color: gray;
	border-style: solid;
	font-weight: 400;
	color: white;
	font-style: italic;
	margin-right: 20px;
	float: right;
}

.clientN {
	font-size: large;
	color: #32CD32;
}

.riot {
	background-color: #122d3d;
	margin: 20px;
	width: 350px;
	border-color: gray;
	border-style: hidden;
}

.span2 {
	color: #3cc497;
}

.tabw {
	width: 700px;
	table-layout: fixed;
	margin-left: 50px;
	margin-right: 50px;
	border-spacing: 7px;
    border-collapse: separate;
}
.tabw2 {
	width: 600px;
	table-layout: fixed;
	margin-left: 30px;
	margin-right: 30px;
	border-spacing: 5px;
    border-collapse: separate;
}