<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jstl/core">



	<div class="divtitre">

		<center>
			<span class="span2">Companies List And Information</span>
		</center>

	</div>
	<div class="divtitre">
		<ui:repeat value="#{BankCompany.bankcompanies}"
			var="company">
			<li>
				<div class="activity-desk">
					<div class="singleC">
					<div >
					<p class="Color">
						
							<a href="#"><strong>Name</strong></a>
						
					</p>
					<p class="Color">
						
							<span>#{company.name}</span>
						
					</p>
					<h5>
						<a href="#">Leadership</a> <span><h:outputText
								value="#{company.leadership}"></h:outputText></span>
					</h5>
					<p class="Color">Address</p>
					<a href="#"> #{company.address}</a>
					<div class="Desc">
					<h5>
						<a href="#">Description</a> <span><h:outputText
								value="#{company.description}"></h:outputText></span>
					</h5>
					</div>
					<p class="Color">Capital</p>
					<a href="#"> #{company.totalCapital}</a>
					<h5>
						<a href="#">Phone</a> <span><h:outputText
								value="#{company.phone}"></h:outputText></span>
					</h5>
					
					</div>
					<div class="karim">
					<p class="color">  Actions  </p>
					<a href="">View Currency</a>
					<h:link outcome="ViewCurrency.xhtml" value="View"
						includeViewParams="true">
						<f:param name="bankCompanyId" value="#{company.id}"></f:param>
					</h:link>
					
					
					
					</div>
					
					
					
					</div>
					
				</div>
			</li>
		</ui:repeat>
	</div>

	<ui:include src="/WEB-INF/template/importScript.xhtml" />

	<ui:include src="/WEB-INF/template/imports.xhtml" />
	<link rel="stylesheet" href="css/wallet.css" type="text/css" />
</ui:composition>