<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jstl/core">


	<div class="wrapper">
		<div class="row">
			<div class="col-md-9" style="margin-left: 190px;">
				<div class="panel">
					<header class="panel-heading"> Your Claims </header>
					<div class="panel-body">
						<ul class="chats cool-chat">
						<ui:repeat value="#{claims.claims}" rules="all"
									var="cla">
							<li class="#{cla.userFrom == 1 ? 'in' : 'out'}"><h:graphicImage name="#{cla.userFrom == 1 ? 'images/valid.png' : 'images/exclamation.png'}"
								class="avatar" />
								<div class="message">
									<span class="arrow"></span> <div class="name" >#{cla.textClaims}</div> <span class="datetime">at #{cla.date_claim}</span> <span
										class="body"> #{cla.message}</span>
								</div></li>
								</ui:repeat>
							
							
						</ul>
						<div class="chat-form" style="height: 110px;">
							<h:form class="form-inline">
								<div class="form-group">
									<input type="text" style="width: 100%" jsf:id="objectId"
										placeholder="Type an object here ..." class="form-control"
										jsf:value="#{claims.claim.textClaims}" jsf:required="true"
										jsf:requiredMessage="Object must not be empty" />
										<br/>
										 <input
										type="text" style="width: 100% ;margin-top: 20px;"
										jsf:value="#{claims.claim.message}" jsf:required="true"
										jsf:requiredMessage="Message must not be empty"
										jsf:id="messageId" placeholder="Type a message here..."
										class="form-control" />
								</div>


								<h:commandButton id="submit" action="#{claims.doAddClaims()}"
									styleClass="btn btn-primary" value="Add new Claim" pt:style="margin-top: 20px;" />
							</h:form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>




	<ui:include src="/WEB-INF/template/importScript.xhtml" />

	<ui:include src="/WEB-INF/template/imports.xhtml" />
	<link rel="stylesheet" href="css/wallet.css" type="text/css" />
</ui:composition>