<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jstl/core">


	<div class="wrapper">

		<div class="wrapper">
			<div class="welcomeText">
				<div style="margin: 15px;">
					<h1>VIRTUAL WALLET</h1>
					<h4>description :</h4>
					<p>
						Welcome <span class="clientN">Mr
							#{walletBean.client.firstName} #{walletBean.client.lastName} </span> to
						your virtual wallet where you can buy and sell securities and
						check your operations and view some statistics of the last
						transactions you have done.
					</p>
					<h4>Wallet informations :</h4>
					<div class="riot">
						<table class="table table-hover">
							<tr>
								<th>Wallet value</th>
								<td>#{walletBean.client.wallet.walletValue} $</td>
							</tr>
							<tr>
								<th>Risk Free Value</th>
								<td>#{walletBean.client.wallet.riskfree} $</td>
							</tr>
							<tr>
								<th>Securities Value</th>
								<td>#{walletBean.client.wallet.securitiesValue} $</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div>
				<h:graphicImage value="/resources/images/wallet.jpg" />
			</div>
		</div>
		<div class="opText">
			<center>
				<h4>List Of The Last Operations</h4>
			</center>
			<div class="panel-body">
				<ul class="activity-list">
					<ui:repeat value="#{walletBean.operations}" var="operation">
						<li><table class="tabw">
								<tr>
									<th><span class="span2"><strong>Operation
												Date</strong></span></th>
									<td><span class="span2"><strong>Quantity
												transacted</strong></span></td>
								</tr>
								<tr>
									<th><span>#{operation.operationPk.operationDate}</span></th>
									<td>#{operation.quantity}</td>
								</tr>
								<tr>
									<th><span class="span2">Security Value</span></th>
									<td><span class="span2"><strong>Operation
												Type</strong></span></td>
								</tr>
								<tr>
									<th><span>#{operation.securities.value}</span></th>
									<td><span>#{operation.state}</span></td>
								</tr>
								<tr>
									<th><span class="span2">Security Closing</span></th>
									<td><span class="span2"><strong>Transaction
												Fee</strong></span></td>
								</tr>
								<tr>
									<th><span>#{operation.transactionFee/operation.quantity}</span></th>
									<td><span>#{operation.transactionFee}</span></td>
								</tr>
							</table></li>
					</ui:repeat>
				</ul>
			</div>
		</div>
		<div class="opText2">
			<center>
				<h4>Owned Securities</h4>
			</center>
			<div class="panel-body">
				<h:form id="labb">
					<table class="tabw2">
						<tr>
							<td><span class="span3">Value</span></td>
							<td><span class="span3">Current closing</span></td>
							<td><span class="span3">Quantity Owned</span></td>
							<td><span class="span3">Action</span></td>
						</tr>
						
						<ui:repeat id="repId" value="#{walletBean.securitiesWallet}"
							var="wSecurities">
							<tr>
								<td><h:outputText value="#{wSecurities.value}" /></td>

								<td><h:outputText value="#{wSecurities.closingPrice}" /></td>

								<td><h:outputText
										value="#{walletBean.doFindBysecurityId(wSecurities.id)}" /></td>

								<td>
								<h:inputText id="secur" value="#{walletBean.sellSec[wSecurities.id-1]}" />
									<h:commandButton id="butSSS" type="submit" value="Sell"
										action="#{walletBean.doBuy(wSecurities)}"></h:commandButton></td>
										
							</tr>
						</ui:repeat>
					</table>
				</h:form>
			</div>
			<div class="panel-body">
				<center>
					<h4>On Sell Securities</h4>
				</center>
				<table class="tabw2">

					<ul class="activity-list">
						<ui:repeat value="#{walletBean.operationsOnSell}" var="operationS">
							<li><table class="tabw">
									<tr>
										<th><span class="span2"><strong>Operation
													Date</strong></span></th>
										<td><span class="span2"><strong>Quantity
													transacted</strong></span></td>
									</tr>
									<tr>
										<th><span>#{operationS.operationPk.operationDate}</span></th>
										<td>#{operationS.quantity}</td>
									</tr>
									<tr>
										<th><span class="span2">Security Value</span></th>
										<td><span class="span2"><strong>Operation
													Type</strong></span></td>
									</tr>
									<tr>
										<th><span>#{operationS.securities.value}</span></th>
										<td><span>#{operationS.state}</span></td>
									</tr>
									<tr>
										<th><span class="span2">Security Closing</span></th>
										<td><span class="span2"><strong>Transaction
													Fee</strong></span></td>
									</tr>
									<tr>
										<th><span>#{operationS.transactionFee/operation.quantity}</span></th>
										<td><span>#{operationS.transactionFee}</span></td>
									</tr>
									<tr>
										<td><form>
												<h:commandButton action="doCancelSell(operationS)" value="cancel" />
											</form></td>
									</tr>
								</table></li>
						</ui:repeat>
					</ul>
				</table>
			</div>
		</div>
	</div>

	<ui:include src="/WEB-INF/template/importScript.xhtml" />

	<ui:include src="/WEB-INF/template/imports.xhtml" />
	<link rel="stylesheet" href="css/wallet.css" type="text/css" />
</ui:composition>

