<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<div class="wrapper">

		<div class="wrapper"></div>
	</div>
	<div class="panel-body">
		<ul class="activity-list">
			<ui:repeat value="#{currencyMangeBean.lCureencies}" var="trcur">
				<li><table class="tabw">
						<tr>
						<th><span class="span"><strong>Logo</strong></span></th>
							<th><span class="span"><strong>Name</strong></span></th>
							<th><span class="span"><strong>Unit</strong></span></th>
							<th><span class="span"><strong>buying offer</strong></span></th>
							<th><span class="span"><strong>selling offer</strong></span></th>
						</tr>
						<tr>
						<td><h:graphicImage value="#{trcur.logo}" /></td>
							<td>#{trcur.name}</td>
							<td>#{trcur.unit}</td>
							<td>#{trcur.buying_offer}</td>
							<td>#{trcur.selling_offer}</td>
						</tr>
						
					</table></li>
			</ui:repeat>
		</ul>
	</div>
</ui:composition>