<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jstl/core">




	<div class="wrapper">



		<div class="row">
			<div class="col-md-8">

				<div class="panel panel-default">
					<div class="panel-heading">Panel heading without title</div>
					<div class="panel-body">
					<ui:repeat value="#{articleBean.articles}" rules="all"
									var="cla">
					<div class="col-md-12">
					   <section class="panel post-wrap pro-box">
                        <aside class="post-highlight purple v-align">
                            <div class="panel-body">
                                <h2>#{cla.date}</h2><a href="javascript:;"> #{cla.nomArticle}</a>                        </div>
                        </aside>
                        <aside>
                            <div class="post-info">
                                <span class="arrow-pro left"></span>
                                <div class="panel-body">
                                    <div class="text-center twite">
                                        <img class="thumb" src="#{cla.company.image}" />
                                        <h1>#{cla.company.name}</h1>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </section>
					</div>
					</ui:repeat>
				</div>
</div>




			</div>
			<div class="col-md-3">
			
				<div id="cont_2f6fce367fc3d20938ba7d8491acfd9f" class="panel yellow-bg" >
					<span id="h_2f6fce367fc3d20938ba7d8491acfd9f"><a
						href="http://www.theweather.com/new-york-city.htm" target="_blank"
						style="color: #656565; font-family: Sans-serif; font-size: 14px;">Weather
							in Tunisia</a></span>
					<script type="text/javascript"
						src="https://www.theweather.com/wid_loader/2f6fce367fc3d20938ba7d8491acfd9f"></script>
				</div>
			</div>
			<div class="col-md-3">
                <div class="panel red-bg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="col-xs-8">
                                <span class="state-title"> Dollar Profit Today </span>
                                <h4>$ 23,232</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			

		</div>
	</div>


	<ui:include src="/WEB-INF/template/importScript.xhtml" />

</ui:composition>
