<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">



	<div>

		<h:form>
			<p:dataTable id="bankcompany-table" class="bankcompany"
				value="#{BankCompany.bankcompanies}" var="bankCompany" rules="all"
				cellpadding="4" cellspacing="0">

				<f:facet name="header">
					<h:outputText value="BankCompany List" />
				</f:facet>
				<f:facet name="header">
					<p:outputPanel>
						<h:outputText value="chercher tous les champs:" />
						<p:inputText  id="globalFilter" style="width:150px" />
					</p:outputPanel>
				</f:facet>

				


				<p:column>
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:outputText value="#{bankCompany.name}" />
				</p:column>



				<p:column>
					<f:facet name="header">
						<h:outputText value="Address" />
					</f:facet>
					<h:outputText value="#{bankCompany.address}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Description" />
					</f:facet>
					<h:outputText value="#{bankCompany.description}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="LeaderShip" />
					</f:facet>
					<h:outputText value="#{bankCompany.leadership}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Capital" />
					</f:facet>
					<h:outputText value="#{bankCompany.totalCapital}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Action" />
					</f:facet>
					<h:panelGroup class="action">
						<h:commandLink value="Delete"
							action="#{BankCompany.doDeleteBankCompany(bankCompany)}" />

						<h:link outcome="FinalViewCurrencyy.xhtml" value="View"
							includeViewParams="true">
							<f:param name="bankCompanyId" value="#{bankCompany.id}"></f:param>
						</h:link>

						<h:link outcome="UpdateBankCompany.xhtml" value="Edit"
							includeViewParams="true">
							<f:param name="bankCompanyId" value="#{bankCompany.id}"></f:param>
						</h:link>
					</h:panelGroup>
				</p:column>
			</p:dataTable>

		</h:form>

	</div>

	<ui:include src="/WEB-INF/template/importScript.xhtml" />

	<ui:include src="/WEB-INF/template/imports.xhtml" />

</ui:composition>