<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="metadata">
	    <f:metadata>
			<f:event listener="#{Security.doLoadSecurities()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	
   
	
	
		
	   	<h:form>
		<h:dataTable id="security-table" class="security-table" value="#{Security.securitiesList}" 
					 var="security" rules="all" cellpadding="4" cellspacing="0">			 
		
			<f:facet name="header">
			  <h:outputText value="Security List" />
			</f:facet> 
			
			<h:column>
			  <f:facet name="header">
			  <h:outputText value="securityId" />
			  </f:facet> 
			   <h:outputText value="#{security.id}" />
			</h:column>
			
							
			
			<h:column>
			  <f:facet name="header">
			  <h:outputText value="Value"/>
			  </f:facet>
			   <h:outputText value="#{security.value}"  />
			</h:column>
			
			<h:column>
			  <f:facet name="header">
			  <h:outputText value="Capital"/>
			  </f:facet>
			   <h:outputText value="#{security.capital}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">
			 		<h:outputText value="Action"/>
			  	</f:facet>
			  	<h:panelGroup class="action" >
					<h:commandLink value="Delete" action="#{Security.doDeleteSecurity(security)}" />
					
					<h:link outcome="view" value="View" includeViewParams="true">
	       				<f:param name="securityId" value="#{security.id}"></f:param>
	       			</h:link>
	       			
	       			<h:link outcome="edit" value="Edit" includeViewParams="true">
	       				<f:param name="securityId" value="#{security.id}"></f:param>
	       			</h:link>
				</h:panelGroup>
			</h:column>
		</h:dataTable>
		<h:panelGrid styleClass="navTable">
			<h:link outcome="create" value="Create New Student" />
		</h:panelGrid>
		</h:form>
	
</ui:composition>