<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="metadata">
		<f:metadata>
			<f:event listener="#{BankCompany.doLoadBankCompany()}"
				type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>





	<h:form>
		<h:dataTable id="bankcompany-table" class="bankcompany"
			value="#{BankCompany.bankcompanies}" var="bankCompany" rules="all"
			cellpadding="4" cellspacing="0">

			<f:facet name="header">
				<h:outputText value="BankCompany List" />
			</f:facet>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Name" />
				</f:facet>
				<h:outputText value="#{bankCompany.name}" />
			</h:column>



			<h:column>
				<f:facet name="header">
					<h:outputText value="Address" />
				</f:facet>
				<h:outputText value="#{bankCompany.address}" />
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Description" />
				</f:facet>
				<h:outputText value="#{bankCompany.description}" />
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Action" />
				</f:facet>
				<h:panelGroup class="action">
					<h:commandLink value="Delete"
						action="#{BankCompany.doDeleteBankCompany(bankCompany)}" />

					<h:link outcome="testcurren.xhtml" value="View"
						includeViewParams="true">
						<f:param name="bankCompanyId" value="#{bankCompany.id}"></f:param>
					</h:link>

					<h:link outcome="UpdateBankCompany.xhtml" value="Edit"
						includeViewParams="true">
						<f:param name="bankCompanyId" value="#{bankCompany.id}"></f:param>
					</h:link>
				</h:panelGroup>
			</h:column>
		</h:dataTable>
		<h:panelGrid styleClass="navTable">
			<h:link outcome="create" value="Create New Student" />
		</h:panelGrid>
	</h:form>

</ui:composition>