<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="metadata">
	    <f:metadata>
			<f:event listener="#{Currency.doLoadCurrenies()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	
   
	
	
		
	   	<h:form>
		<h:dataTable id="currency-table" class="student-table" value="#{Currency.currencyList}" 
					 var="currency" rules="all" cellpadding="4" cellspacing="0">			 
		
			<f:facet name="header">
			  <h:outputText value="Currency List" />
			</f:facet> 
			
			<h:column>
			  <f:facet name="header">
			  <h:outputText value="currencyId" />
			  </f:facet> 
			   <h:outputText value="#{currency.id}" />
			</h:column>
			
							
			
			<h:column>
			  <f:facet name="header">
			  <h:outputText value="Name"/>
			  </f:facet>
			   <h:outputText value="#{currency.name}"  />
			</h:column>
			
			<h:column>
			  <f:facet name="header">
			  <h:outputText value="Logo"/>
			  </f:facet>
			   <h:graphicImage name="#{currency.logo}" alt=""
														style="height: 150px; width: 150px;" />
			</h:column>
			
			<h:column>
				<f:facet name="header">
			 		<h:outputText value="Action"/>
			  	</f:facet>
			  	<h:panelGroup class="action" >
					<h:commandLink value="Delete" action="#{Currency.doDeleteCurrency(currency)}" />
					
					<h:link outcome="ViewtestAffiche.xhtml" value="View" includeViewParams="true">
	       				<f:param name="currencyId" value="#{currency.id}"></f:param>
	       			</h:link>
	       			
	       			<h:link outcome="edit" value="Edit" includeViewParams="true">
	       				<f:param name="currencyId" value="#{currency.id}"></f:param>
	       			</h:link>
				</h:panelGroup>
			</h:column>
		</h:dataTable>
		<h:panelGrid styleClass="navTable">
			<h:link outcome="create" value="Create New Student" />
		</h:panelGrid>
		</h:form>
	
</ui:composition>