<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
    
    vvgjcgcgdcjgdjgtdjdjdjdjdj
    <ui:define name="metadata">
	    <f:metadata>
			<f:viewParam name="bankCompanyId" value="#{BankCompany.bankCompany.id}" />
			<f:event listener="#{BankCompany.doFindBankCompany()}" type="preRenderView"></f:event>
		
		</f:metadata>
	</ui:define>
    vhvhccgcjgc
        <h1>Edit BankCompany</h1>
        
    	<h:form>
	    	<h:panelGrid styleClass="editTable" columns="2" cellpadding="4" cellspacing="0">	    				 		   
	    		<h:outputLabel value="id" id="id"/>    		
	    		<h:outputText value="#{BankCompany.bankCompany.id}"/>
	    		
	    		<h:outputLabel value="name" id="name" />
	    		<h:inputText value="#{BankCompany.bankCompany.name}" />
	    		
	    		<h:outputText value="address" id="address"/>
	    		<h:inputText value="#{BankCompany.bankCompany.address}" />
	    		
	    		<h:commandButton action="#{BankCompany.doUpdateBankCompany()}" value="Edit Bank Company" />
	    	</h:panelGrid>
	    	
	    	<h:panelGrid styleClass="navTable">
	    		<h:link outcome="view" value="View Details" includeViewParams="true">
       				<f:param name="studentId" value="#{ajout.student.id}"></f:param>
       			</h:link>
	    		<h:link outcome="testAff.xhtml" value="List Customers" />
	    	</h:panelGrid>
    	</h:form>
</ui:composition>