<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	
 <ui:define name="metadata">
	    <f:metadata>
			<f:viewParam name="currencyId" value="#{Currency.currency.id}" />
			<f:event listener="#{Currency.doFindCurrency()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>

	<h:form>
	    	<h:panelGrid columns="2" 
	    				 rules="all" 
	    				 styleClass="viewTable" 
	    				 columnClasses="column1, column2" 
       					 rowClasses="oddRow, evenRow" 
	    				 cellspacing="0" 
	    				 cellpadding="2" >
	    		<h:outputText value="id:"  />
	    		<h:outputText value="#{Currency.currency.id}" />    		
	    		
	    		<h:outputText value="Name:"  />
	    		<h:outputText value="#{Currency.currency.name}" />
	    		<h:outputText value="Logo"  />
	    		
	    		 <h:graphicImage name="#{Currency.currency.logo}" alt=""
														style="height: 150px; width: 150px;" />
	    	</h:panelGrid>
	    	<h:commandButton action="#{Currency.doDeleteCurrency(Currency.currency)}" value="Destroy" />
	    	
	    	<h:panelGrid styleClass="navTable">
	    		<h:link outcome="modifStudent.xhtml" value="Edit" includeViewParams="true">
       				<f:param name="StudentId" value="#{ajout.student.id}"></f:param>
       			</h:link>
       			<h:link outcome="register.xhtml" value="Create New Customer" />
       			<h:link outcome="index" value="List Students" />
       			
	    	</h:panelGrid>
    	</h:form>
    	</ui:composition>
