<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/WEB-INF/template/imports.xhtml" />
	<title>Registration</title>

</h:head>

<body class="login-body">

	<div class="container">
<p:growl autoUpdate="true" />
		<h:form id="registerFormId" class="form-signin" action="index.html">
			<div class="form-signin-heading text-center">
				<h1 class="sign-title">Registration</h1>
				<h:graphicImage name="images/login-logo.png" />
			</div>


			<div class="login-wrap">
				<p>Enter your personal details below</p>
				<h:inputText id="registerFNameId" value="#{sign.client.firstName}"
					styleClass="form-control" required="true"
					requiredMessage="First Name must not be empty"
					pt:placeholder="First Name">
				</h:inputText>
				<h:inputText id="registerLNameId" value="#{sign.client.lastName}"
					styleClass="form-control" required="true"
					requiredMessage="Last Name must not be empty"
					pt:placeholder="Last Name">
				</h:inputText>
				<h:inputText id="registerEmailId" value="#{sign.client.mail}"
					styleClass="form-control" required="true"
					validator="#{uniqueEmail.validate}"
					requiredMessage="Email must not be empty" pt:placeholder="Email" type="email">
					<f:validateRegex
						pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"></f:validateRegex>
				</h:inputText>
				<input jsf:id="registerAddressId"
					jsf:value="#{sign.address.street}" type="text"
					class="form-control" placeholder="Address" /> <input
					jsf:id="registerCityId" jsf:value="#{sign.address.town}"
					type="text" class="form-control" placeholder="City" /> <input
					jsf:id="registerCountryId" jsf:value="#{sign.address.country}"
					type="text" class="form-control" placeholder="Country" />
					<input
					jsf:id="registerPosteId" jsf:value="#{sign.address.postCode}"
					type="text" class="form-control" placeholder="Post Code" />

				<div class="square-blue single-row">
					<div class="radio ">
						<input jsf:value="#{sign.gender}" pt:value="M"
							tabindex="3" type="radio" pt:name="demo-radio" /> <label>Male
						</label>
					</div>
				</div>
				<div class="square-red single-row">
					<div class="radio ">
						<input jsf:value="#{sign.gender}" pt:value="F" checked="checked"
							tabindex="3" type="radio" pt:name="demo-radio" /> <label>Female
						</label>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-4 col-xs-11"
						style="width: 320px; margin-left: -12px;">

						<div data-date-viewmode="years" data-date-format="yyyy-mm-dd"
							data-date="12-02-2012" class="input-append date dpYears">
							<input size="16" jsf:id="clientBirthday"
								jsf:value="#{sign.client.birthDay}" type="text"
								jsf:required="true"
								jsf:requiredMessage="Birthday must not be empty"
								class="form-control" placeholder="Birthdate">
							<f:convertDateTime pattern="yyyy-mm-dd" />
							</input><span class="input-group-btn add-on"
								style="margin-right: 32px; margin-bottom: 1px;">

								<button class="btn btn-primary" type="button"
									style="margin-top: -21px;">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>

					</div>
				</div>
				<div class="fileupload fileupload-new" data-provides="fileupload">
					<div class="fileupload-new thumbnail"
						style="width: 200px; height: 150px;">
						<img
							src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
							alt="" />
					</div>
					<div class="fileupload-preview fileupload-exists thumbnail"
						style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
					<div>

						<span class="btn btn-default btn-file"> <span
							class="fileupload-new"><i class="fa fa-paper-clip"></i>
								Profil Photo</span> <span class="fileupload-exists"><i
								class="fa fa-undo"></i> Change</span> <input class="default"
							type="file" />

						</span> <a href="#" class="btn btn-danger fileupload-exists"
							data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
					</div>
				</div>
				<br />
				<p>Enter your account details below</p>
				<h:inputText id="registerLoginId" value="#{sign.client.clientLogin}"
					styleClass="form-control" required="true"
					validator="#{uniqueLogin.validate}"
					requiredMessage="User Name must not be empty" pt:placeholder="User Name">
					
				</h:inputText> 
				<h:inputSecret id="registerPasswordId" value="#{sign.client.clientPassword}"
					required="true" requiredMessage="Password must not be empty"
					styleClass="form-control" pt:placeholder="Password">
					<f:attribute name="confirmPassword" value="#{confirmPassword}"></f:attribute>
					<f:validator validatorId="passwordValidator" />
				</h:inputSecret>
				<h:inputSecret
							id="registerConfPassId" binding="#{confirmPassword}"
							required="true" requiredMessage="Password must not be empty"
							class="form-control" pt:placeholder="Re-type Password" />
				<label class="checkbox"> <h:selectBooleanCheckbox
						binding="#{userAgreement}">
						<f:attribute name="userAgreement" value="#{userAgreement}" />
						<f:validator validatorId="userAgreementValidator" />
					</h:selectBooleanCheckbox><span class="lbl"> I agree to the Terms of Service and
						Privacy Policy</span>
				</label>

					<h:commandButton
								id="registerSubmitId"
								type="submit"
								styleClass="btn btn-lg btn-login btn-block"
								value="Ok"
								action="#{sign.addClient()}">
								<i class="fa fa-check"></i>
							</h:commandButton>

				

				<div class="registration">
					Already Registered. <a href="login.html"> Login </a>
				</div>
			</div>

		</h:form>

	</div>




	<h:outputScript name="js/jquery-1.10.2.min.js"></h:outputScript>
	<h:outputScript name="js/bootstrap.min.js"></h:outputScript>
	<h:outputScript name="js/modernizr.min.js"></h:outputScript>
	<h:outputScript name="js/iCheck/jquery.icheck.js"></h:outputScript>
	<h:outputScript name="js/icheck-init.js"></h:outputScript>


	<h:outputScript
		name="js/bootstrap-datepicker/js/bootstrap-datepicker.js"></h:outputScript>
	<h:outputScript
		name="js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></h:outputScript>
	<h:outputScript name="js/bootstrap-daterangepicker/moment.min.js"></h:outputScript>
	<h:outputScript name="js/bootstrap-daterangepicker/daterangepicker.js"></h:outputScript>
	<h:outputScript
		name="js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></h:outputScript>
	<h:outputScript
		name="js/bootstrap-timepicker/js/bootstrap-timepicker.js"></h:outputScript>
	<h:outputScript name="js/pickers-init.js"></h:outputScript>

	<h:outputScript name="js/bootstrap-fileupload.min.js"></h:outputScript>

	<h:outputScript name="js/scripts.js"></h:outputScript>

</body>
</html>
