<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
<h:head>
	<title><ui:insert name="pageTitle">Welcome Back Client</ui:insert></title>
	<ui:include src="/WEB-INF/template/imports.xhtml" />
</h:head>

<h:body class="horizontal-menu-page">

	<section>
		 <nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> 
						<span class="icon-bar"></span>
						 <span class="icon-bar"></span> 
						 <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"> 
						<img src="images/logo.png" alt="" />
					</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="index.html">Dashboard</a></li>
						<li class="active"><a href="#">Components</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">UI Kits <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">General</a></li>
								<li><a href="#">Buttons</a></li>
								<li><a href="#">Widget</a></li>
								<li><a href="#">Slider</a></li>
								<li><a href="#">Many More</a></li>
							</ul>
						</li>
						<li><a href="#">Fontawesome</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Form Components <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Form Elements</a></li>
								<li><a href="#">Advanced Components</a></li>
								<li><a href="#">Form Wizard</a></li>
								<li><a href="#">Form Validation</a></li>
								<li><a href="#">Dropzone</a></li>
							</ul>
						</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
				<li>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search" />
						</div>
					</form>
				</li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <h:graphicImage alt=""
								src="images/photos/user-avatar.png" /> John Doe <b
								class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Profile</a></li>
								<li><a href="#">Settings</a></li>
								<li><a href="#">Log Out</a></li>
							</ul></li>
			</ul>
		</div>
		
		
		
		
		<!-- /.navbar-collapse -->
	</div>
	</nav>
	<ui:insert name="pageContent"></ui:insert> <!--body wrapper end--> <!--footer section start-->
	<footer class="sticky-footer"> Footer contents goes here </footer> 
	
	</section>

<ui:include src="/WEB-INF/template/importScript.xhtml" />


</h:body>
</html>
