<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="keywords"
		content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3" />
	<meta name="description" content="" />
	<meta name="author" content="ThemeBucket" />
	<link rel="stylesheet"
		href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />

	<h:outputStylesheet name="js/iCheck/skins/minimal/blue.css"
		rel="stylesheet"></h:outputStylesheet>
	<h:outputStylesheet name="js/iCheck/skins/square/red.css"
		rel="stylesheet"></h:outputStylesheet>
		<h:outputStylesheet name="css/wallet.css"
		rel="stylesheet"></h:outputStylesheet>

	<h:outputStylesheet name="js/iCheck/skins/square/blue.css"
		rel="stylesheet"></h:outputStylesheet>
	<h:outputStylesheet name="js/iCheck/skins/flat/blue.css"
		rel="stylesheet"></h:outputStylesheet>
		<h:outputStylesheet name="css/comp.css"
		rel="stylesheet"></h:outputStylesheet>
	<h:outputStylesheet name="css/bootstrap.min.css" rel="stylesheet"></h:outputStylesheet>
	<h:outputStylesheet name="css/bootstrap-reset.css" rel="stylesheet"></h:outputStylesheet>
	<h:outputStylesheet name="css/jquery-ui-1.10.3.css" rel="stylesheet"></h:outputStylesheet>
	<h:outputStylesheet name="fonts/css/font-awesome.min.css"
		rel="stylesheet"></h:outputStylesheet>
	<h:outputStylesheet name="css/custom-ico-fonts.css" rel="stylesheet"></h:outputStylesheet>
	<h:outputStylesheet rel="stylesheet"
		name="js/bootstrap-datepicker/css/datepicker-custom.css"></h:outputStylesheet>
    <h:outputStylesheet rel="stylesheet" name="css/bootstrap-fileupload.min.css" ></h:outputStylesheet>

	<h:outputStylesheet name="css/style.css" rel="stylesheet"></h:outputStylesheet>
	<h:outputStylesheet name="css/style-responsive.css" rel="stylesheet"></h:outputStylesheet>


</ui:composition>
